@import "tailwindcss";

.page-wrapper {
  width: 100%;
}

/* Page entering */

.page-enter {
  opacity: 0;
  transform: translateX(25px);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 300ms ease,
    transform 300ms ease;
}

/* Page leaving */

.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-25px);
  transition:
    opacity 300ms ease,
    transform 300ms ease;
}

.report-tables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.error-shake {
  animation: errorFlash 0.5s ease-in-out;
}
@keyframes errorFlash {
  0% {
    background-color: #fee2e2;
  }
  25% {
    background-color: #fca5a5;
  }
  50% {
    background-color: #fee2e2;
  }
  75% {
    background-color: #fca5a5;
  }
  100% {
    background-color: #fee2e2;
  }
}

@media (max-width: 600px) {
  .report-tables {
    grid-template-columns: 1fr;
  }
}
